[submodule "LiteDB"]
	path = LiteDB
	url = https://github.com/uniplore/LiteDB.git
[submodule "Open3270"]
	path = Open3270
	url = https://github.com/uniplore/Open3270.git
[submodule "vb5250"]
	path = vb5250
	url = https://github.com/uniplore/vb5250.git
